<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Buscador de Series</title>
	<link rel="stylesheet" href="assets/css/main.css">
</head>
<body>
    <partial src="_header.html"></partial>
  <main class="container">
    <partial src="_searcher.html"></partial>
    <partial src="_favs.html"></partial>
    <partial src="_results.html"></partial>
  </main>
  <script src="assets/js/main.js"></script>
</body>
</html>