.form-container {
	grid-area: form;
	padding: 0px 30px;
	.form-label {
		font-weight: normal;
	}
	#TVshow {
		margin: 10px 0;
		width: 160px;
		padding: 5px;
		border-radius: 5px;
		border: 1px solid rgba(0, 0, 0, 0.1);
	}
}